@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CourseWork.Web.ViewModels.LoginViewModel

@inject IViewLocalizer Localizer

@{
     Layout = "_Layout";
}

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form method="post" asp-controller="Account" asp-action="Login">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">@Localizer["SignInWith"]</p>
            <a class="btn btn-primary w-auto btn-floating mx-1"
               asp-controller="Account"
               asp-action="SetLogin"
               asp-route-provider="Google">
              <i class="bi bi-facebook"></i>
              Facebook
            </a>
            <a class="btn btn-primary w-auto btn-floating mx-1"
               asp-controller="Account"
               asp-action="SetLogin"
               asp-route-provider="Reddit">
              <i class="bi bi-reddit"></i>
              Reddit
            </a>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">@Localizer["or"]</p>
          </div>
          
          <div asp-validation-summary="ModelOnly"></div>
          <div class="form-outline mb-4">
            <input asp-for="Username" type="text" class="form-control form-control-lg" placeholder="Username" />
            <label asp-for="Username" class="form-label">@Localizer["Username"]</label>
            <span asp-validation-for="Username"></span>
          </div>
          
          <div class="form-outline mb-3">
            <input asp-for="Password" type="password" class="form-control form-control-lg" placeholder="Enter password" />
            <label asp-for="Password" class="form-label">@Localizer["Password"]</label>
            <span asp-validation-for="Password"></span>
          </div>
          
          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
              @Localizer["SignIn"]
            </button>
            
            <p class="small fw-bold mt-2 pt-1 mb-0">@Localizer["Account"] 
              <a class="nav-link" asp-controller="Account" asp-action="Register" >@Localizer["SignUp"]</a>
            </p>
            
          </div>
        </form>
      </div>
    </div>
  </div>
</section>